{% extends "base.html" %}
{% load static %}
{% block title %}Bookstore{% endblock %}
{% block content %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
<div class="hero">
    <h1>Welcome to the Bookstore</h1>
    <p>Explore our curated collection of books.</p>
</div>
<div class="books-grid">
    {% for book in object_list %}
    <div class="book-card">
        <div class="book-card-image-wrapper">
            {% if book.discount_price %}
            <span class="sale-badge">Sale</span>
            {% endif %}
            {% if book.images.first %}
            <img src="{{book.images.first.image.url}}" alt="{{ book.name }}" loading="lazy">
            {% else %}
            <div class="no-image">No Image</div>
            {% endif %}
        </div>
        <div class="book-card-info">
            <!-- <a class="product-card-category" href="{% url 'explore' %}?genre={{ book.category.slug }}">{{book.category.name}}</a> -->
            <p class="product-card-category">
                <a href="{% url 'explore' %}?category={{ book.category.name }}">{{ book.category.name }}</a>
            </p>
            <h3>{{ book.name }}</h3>
            <p>{{ book.description|truncatewords:15 }}</p>
            <div class="price-wrapper">
                {% if book.discount_price %}
                <span class="current-price">${{ book.discount_price }}</span>
                <span class="original-price">${{ book.price }}</span>
                <span class="sale-label">Sale</span>
                {% else %}
                <span class="current-price">${{ book.price }}</span>
                {% endif %}
            </div>
            <a href="{% url 'product_detail' book.pk %}" class="details-link">View Details</a>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}